:root {
    --white-color: #ffffff;
    --main-text-color: #212121;
    --primary-color: #757575;
    --minority-color: rgba(255, 255, 255, 0.6);
    --background-dark: #2f303a;
    --background-light: #f5f4fa;
    --activecolor: #2196f3;
}